<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="col-md-6 mx-auto">
  <div class="form-inline">
    <span>
      <%= link_to user_path(visitor), class:"notification-user" do %>
        <%# <%= image_tag avatar_url(visitor).to_s, class: "icon_mini" %>
        <strong>
          <%= visitor.nickname %>
        </strong>
      <% end %>
      さんが
      <% case notification.action %>
        <% when 'like' then %>
          <%= link_to notification.room.name, room_path(notification.room.id), style: "font-weight: bold;", class: "notification-room" %>
          <%= "にいいねしました" %>
        <% when 'request' then %>
          <%= link_to notification.room.name, room_path(notification.room.id), style: "font-weight: bold;", class: "notification-room" %>
          <%= "への入室申請をしました" %>
        <% when 'permission' then %>
          <%= link_to notification.room.name, room_path(notification.room.id), style: "font-weight: bold;", class: "notification-room" %>
          <%= "への入室を許可しました" %>
        <% when 'join' then %>
          <%= link_to notification.room.name, room_path(notification.room.id), style: "font-weight: bold;", class: "notification-room" %>
          <%= "へ参加しました" %>
      <% end %>
    </span>
    <span>
      <% if notification.action == 'request'%>
        <%=link_to "ユーザーを見る", user_path(visitor, room_id: notification.room.id, visitor_id: visitor.id), class: "notification-user-show" %>
      <% end %>
      <% if notification.action == 'permission'%>
        <%=link_to "ルームを見る", room_path(notification.room_id, user_id: visited.id), class: "notification-room-show" %>
      <% end %>
      <% if notification.action == 'join'%>
        <%=link_to "ルームへ移動する", room_chats_path(notification.room.id), class: "notification-user-join" %>
      <% end %>
      <% if notification.checked == false%>
        <%=link_to "既読にする", notification_path(notification.id), method: :patch, class: "notification-update" %>
      <% end %>
    </span>
  </div>
  <%# <div class="small text-muted text-right">
    <%= time_ago_in_words(notification.created_at).upcase %>
  <%# </div> %>
  <hr>
</div>