<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="col-md-6 mx-auto">
  <div class="form-inline">
    <span>
      <%= link_to notification_path(notification.id), method: :delete, class:"notification-destroy" do%>
        <i class="fa-solid fa-trash trash-box"></i>
      <% end %>
      <%= link_to user_path(visitor), class:"notification-user" do %>
        <% if visitor.avatar? %>
          <%= image_tag visitor.avatar.url, class: "notification-user-icon" %>
        <% else %>
          <%= image_tag ("human.jpg"), class: "notification-user-icon" %>
        <% end %>
        <strong>
          <%= visitor.nickname %>
        </strong>
      <% end %>
      さんが
      <% case notification.action %>
        <% when 'like' then %>
          <%= link_to notification.room.name, room_path(notification.room.id), style: "font-weight: bold;", class: "notification-room" %>
          <%= "にいいねしました" %>
        <% when 'request' then %>
          <%= link_to notification.room.name, room_path(notification.room.id), style: "font-weight: bold;", class: "notification-room" %>
          <%= "への入室申請をしました" %>
        <% when 'permission' then %>
          <%= link_to notification.room.name, room_path(notification.room.id), style: "font-weight: bold;", class: "notification-room" %>
          <%= "への入室を許可しました" %>
        <% when 'join' then %>
          <%= link_to notification.room.name, room_path(notification.room.id), style: "font-weight: bold;", class: "notification-room" %>
          <%= "へ参加しました" %>
        <% when 'comment' then %>
          <%= link_to notification.room.name, room_path(notification.room.id), style: "font-weight: bold;", class: "notification-room" %>
          <%= "へコメントしました" %>
        <% when 'reply_comment' then %>
          <%= link_to notification.room.name, room_path(notification.room.id), style: "font-weight: bold;", class: "notification-room" %>
          <%= "へのコメントに返信しました" %>
      <% end %>
    </span>
    <span>
      <% if notification.action == 'request'%>
        <%=link_to "ユーザーを見る", user_path(visitor, room_id: notification.room.id, visitor_id: visitor.id), class: "notification-user-show" %>
      <% elsif notification.action == 'permission'%>
        <%=link_to "ルームを見る", room_path(notification.room_id, user_id: visited.id), class: "notification-room-show" %>
      <% elsif notification.action == 'join'%>
        <%=link_to "ルームへ移動する", room_chats_path(notification.room.id), class: "notification-user-join" %>
      <% elsif notification.action == 'comment'%>
        <%=link_to "コメントを見る", room_path(notification.room.id), class: "notification-comment-show" %>
      <%# <% elsif notification.action == 'reply_comment'%>
        <%# <%=link_to "返信を見る", room_comment_reply_comments_path(notification.room.id, comment_id: notification.comment_id), class: "notification-comment-show" %>
      <% end %>
      <% if notification.checked == false%>
        <%=link_to "既読にする", notification_path(notification.id), method: :patch, class: "notification-update" %>
      <% end %>
    </span>
  </div>
  <hr>
</div>