<%= render 'shared/header'%>

<body>
  <div class="user-edit-container">
    <div class="user-edit-info">
      <div class="user-edit-icon">
        <%= image_tag "human.jpg", alt: "human.jpg" %>
        <%# <img src="/assets/images/user-icon.jpg" alt="アイコン画像"> %>
      </div>
      <div class="user-details">
        <%= form_with model: current_user, local: true do |f| %>
          <%= f.label :nickname, value: "ニックネーム" %>
          <%= f.text_field :nickname, id: "nickname" %>
          <%= f.label :introduce, value: "自己紹介" %>
          <%= f.text_area :introduction, id: "introduction" %>
          <%= f.submit "更新", class: "edit-button" %>
        <% end %>
      </div>
    </div>
  </div>
</body>