<%= render "shared/third-header"%>
<%= render "shared/header"%>


<body>
  <div class="user-show-container">
    <div class="user-profile">
      <div class="user-show-icon">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url %>
        <% else %>
          <%= image_tag ("human.jpg") %>
        <% end %>
      </div>
      <div class="user-name">
        <h1><%= @user.nickname %></h1>
        <% if @user == current_user %> 
          <%= link_to 'プロフィールを編集', edit_user_path(@user), class: 'edit-profile-button' %>
        <% end %> 
      </div>
    </div>
    <div class="user-introduction">
      <%= @user.introduction %>
    </div>
    <% if @room.present? && !@room.users.include?(@visitor) %>
      <div class="room-permission-btns">
        <% @visitor.requests.each do |request| %>
          <% if request.room_id == @room.id && !@room.permissions.exists?(request_id: request.id)%>
            <%= link_to '追加する', room_permissions_path(request.room_id, request_id: request.id), class: 'room-permission-btn', method: :post %> 
          <% elsif request.room_id == @room.id && @room.permissions.exists?(request_id: request.id) %>
            <div class="room-permission-message2"><%=@room.name%>への入室許可済みです</div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <% if @room.present?%>
        <div class="room-permission-message1"><%=@room.name%>へ参加済みです</div>
      <% end %>
    <% end %>
    <hr>
    <div class="room-list-container">
      <% if @user.rooms.present?%>
        <% @user.rooms.order("created_at DESC").each do |room|%>
          <ul class="room-list">
            <li class="room-item">
              <div class="room-info">
                <h3 class="room-name"><%=room.name%></h3>
                <div class="room-meta">
                  <span class="room-created"><%=l room.created_at%></span>
                  <% if room.level.name == "1" %>
                    <span class="room-level1">Level <%=room.level.name%></span>
                  <% elsif room.level.name == "2" %>
                    <span class="room-level2">Level <%=room.level.name%></span>
                  <% else %>
                    <span class="room-level3">Level <%=room.level.name%></span>
                  <% end %>
                </div>
                <div class="room-habit">
                  <span>達成したい習慣: <%=room.habit%></span>
                </div>
                <div class="room-user">
                  <span>作成者: <%= room.creator.nickname %></span>
                </div>
              </div>
				      <div class="room-buttons">
                <%=link_to "詳細", room_path(room.id), class: "room-show-link" %>
              </div>
            </li>
          </ul>
        <% end %>
      <% else %>
        <span>まだルームはありません</span>
      <% end %>
    </div>
  </div>
</body>