<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <% if user_signed_in? %>
      <li class="nav-item"><%= link_to "My Page", user_path(current_user.id), class: "nav-link link-dark px-2 active", id: "header-menu1" %></li>
      <li class="nav-item"><%= link_to "Create Room", new_room_path, class: "nav-link link-dark px-2", id: "header-menu2" %></li>
      <li class="nav-item"><span class="nav-link link-dark px-2", id="header-menu3">My Rooms</span></li>
      <li class="menu-lists hidden" id="menu3-pull-down">
      <% current_user.rooms.each do |room|%>
        <div class="pull-down-lists">
          <%= link_to room.name, room_chats_path(room), class: "pull-down-list" %>
        </div>
      <% end %>
      </li>
      <% end %>
    </ul>

    <ul class="nav">
      <% if user_signed_in? %>
      <li class="nav-item"><i class="fa-sharp fa-solid fa-bell fa-lg"></i></li>
      <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link link-dark px-2", id: "log-out-btn" %></li>
      <% else %>
      <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: "nav-link link-dark px-2", id: "log-in-btn" %></li>
      <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class: "nav-link link-dark px-2", id: "user-registration" %></li>
      <% end %>
    </ul>
  </div>
</nav>