<%= render "shared/third-header"%>
<%= render "shared/header"%>

<div class="chat-part">
  <div class="side-bar">
    <div class="side-bar__top">
      <div class="user_name">
        <div class="chat-room-index">ルーム一覧</div>
      </div>
    </div>

    <div class="side-bar__middle">
      <% current_user.rooms.each do |room| %>
        <div class="side-bar-room">
          <div class="room_name" data-room-id="<%= room.id %>">
            <%= link_to room.name, room_chats_path(room.id) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <div class="chat-main">
    <div class="chat-header">
      <h2 id="header-room-name"><%=@room.name%></h2>
      <% if current_user == @room.creator %>
        <div class="chat-retire-btn">
          <%= link_to "削除する", room_path(@room), method: :delete %>
        </div>
      <% end %>
    </div>
    <div class="chat-body">
      <% @chats.each do |chat| %>
        <% if chat.user == current_user%>
          <div class="message sent">
            <% if chat.message.present? %>
              <div class="message-date">
                <p><%=l chat.created_at%></p>
              </div>
              <div class="message-content">
                <p><%=chat.message%></p>
              </div>
            <% end %>
          </div>
          <% if chat.image.attached? %>
            <div class="chat-image-sent">
              <div class="message-date">
                <p><%=l chat.created_at%></p>
              </div>
              <%= image_tag chat.image.variant(resize: '300x300'), class: 'chat-image-content' %>
            </div>
          <% end %>
        <% else %>
          <div class="message received">
            <% if chat.message.present? %>
              <div class="user-icon">
                <% if chat.user.avatar? %>
                  <%= image_tag chat.user.avatar.url %>
                <% else %>
                  <%= image_tag ("human.jpg") %>
                <% end %>
                <div class="message-user-name">
                  <p><%=chat.user.nickname%></p>
                </div>
              </div>
              <div class="message-content">
                <p><%=chat.message%></p>
              </div>
              <div class="message-date">
                <p><%=l chat.created_at%></p>
              </div>
            <% end %>
          </div>
          <% if  chat.image.attached? %>
            <div class="chat-image-received">
              <div class="user-icon">
                <%=image_tag "human.jpg", alt:"User 1"%>
                <div class="message-user-name">
                  <p><%=chat.user.nickname%></p>
                </div>
              </div>
              <%= image_tag chat.image.variant(resize: '300x300'), class: 'chat-image-content' %>
              <div class="message-date">
                <p><%=l chat.created_at%></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="chat-footer">
      <%= form_with model: [@room, @chat], class: 'form', local: true do |f| %>
        <%= f.text_field :message, class: 'form-message' %>
        <label class="form-image">
          <i class="fa-sharp fa-solid fa-image"></i>
          <%= f.file_field :image, class: 'hidden' %>
        </label>
        <label class="form-submit">
          <i class="fa-sharp fa-solid fa-paper-plane"></i>
          <%= f.submit value: "", class: 'hidden' %>
        </label>
      <% end %>
    </div>
  </div>
</div>