<%= render "shared/third-header"%>
<%= render "shared/header"%>

<body>
  <div class="room-new-container">
    <div class="room-new-info">
      <div class="room-new-title">
        <p>ルーム編集</p>
      </div>
      <div class="room-new-details">
        <%= form_with(model: @room, url: room_path(@room.id), local: true) do |f| %>
          <%= f.label :name, value: "ルーム名" %>
          <%= f.text_field :name, id: "name" %>
          <%= f.label :level, "レベル" %>
          <%= f.collection_select(:level_id, Level.all, :id, :name, {}, {class: "room-new-level"}) %>
          <%= f.label :user_ids, "メンバー" %>
          <select name="room[user_ids][]" class="room-new-member">
            <% @room.users.where.not(id: current_user.id).each do |user| %>
              <option value=<%= user.id %> selected><%= user.nickname %></option>
            <% end %>
            <% User.where.not(id: current_user.id, id: @room.user_ids).each do |user| %>
              <option value=<%= user.id %>><%= user.nickname %></option>
            <% end %>
          </select>
          <input name="room[user_ids][]" type="hidden" value=<%= current_user.id%>>
          <%= f.label :habit, value: "達成したい習慣" %>
          <%= f.text_field :habit, id: "habit" %>
          <%= f.label :rule, value: "ルール" %>
          <%= f.text_area :rule, id: "rule" %>
          <div class="room-update-button">
            <%= f.submit "更新", class: "room-edit-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>