<%= render "shared/header" %>
<%= render "shared/second-header" %>

<div class="content">
  <%# 画面上部の「Change Your Life」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      Change Your Life
    </h2>
    <p class='service-explain'>
      誰もが誰かの伴走者
    </p>
  </div>
  <%# /画面上部の「Change Your Life」帯部分  %>

  <%# room一覧部分 %>
  <div class="room-list-container">
    <div class="room-list-header">
      <h2>Chat Rooms</h2>
      <% @rooms.each do |room| %>
      <ul class="room-list">
        <li class="room-item">
          <div class="room-info">
           <h3 class="room-name"><%=room.name%></h3>
            <div class="room-meta">
              <span class="room-created"><%=room.created_at%></span>
              <span class="room-level">Level <%=room.level.name%></span>
            </div>
            <div class="room-habit">
              <span>達成したい習慣: <%=room.habit%></span>
            </div>
            <div class="room-user">
              <% if room.creator %>
              <span>作成者: <%= room.creator.nickname %></span>
              <% end %>
            </div>
          </div>
          <div class="room-buttons">
            <%=link_to "詳細", room_path(room.id), class: "room-show-link" %>
            <a href="#" class="room-join-link">Join</a> 
          </div>
        </li>   
      </ul>
      <% end %>
    </div>
  </div>
</div>