<%= render "shared/header" %>
<%= render "shared/second-header" %>

<div class="content">
  <%# 画面上部の「Change Your Life」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      Change Your Life
    </h2>
    <p class='service-explain'>
      誰もが誰かの伴走者
    </p>
  </div>
  <%# /画面上部の「Change Your Life」帯部分  %>

  <%# room一覧部分 %>
  <div class="room-list-container">
    <div class="room-list-header">
      <h2>Chat Rooms</h2>
      <%= form_with(url: search_rooms_path, method: :get, local: true) do |form| %>
        <div class="input-group mb-3 search-box">
          <%= form.text_field :keyword, class: "form-control", placeholder: "キーワードを入力" %>
          <div class="input-group-append">
            <%= form.submit "検索", class: "btn btn-outline-success", id: "button-addon2" do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="room-contents">
        <% @rooms.each do |room| %>
          <%= render partial: "room", locals: { room: room } %>
        <% end %>
      </div>
    </div>
  </div>
</div>