<%= render "shared/third-header"%>
<%= render "shared/header"%>

<div class="room-box">
  <% if user_signed_in?%>
    <% if current_user == @user && !@room.users.include?(current_user) %>
      <div class="room-permission">🎉入室が許可されました！🎉</div>
    <% elsif @room.users.include?(current_user) && (current_user != @room.creator) %>
      <div class="room-permission">入室済みです！</div>
    <% end %>
  <% end %>
  <div class="room-explain-box">
    <span><%= @room.name %></span>
  </div>
  <table class="detail-table">
    <tbody>
      <tr>
        <th class="detail-room">ホスト</th>
        <td class="detail-value"><%= @room.creator.nickname %></td>
      </tr>
      <tr>
        <th class="detail-room">メンバー</th>
        <td class="detail-value">
          <% @room.users.where.not(id: @room.creator_id).to_a.each do |user| %>
            <%= user.nickname %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="detail-room">ルームレベル</th>
        <td class="detail-value">
          <%= @room.level.name %>
          <% if @room.level.name == "1" %>
            <span><%= image_tag "ume.png" %></span>
          <% elsif @room.level.name == "2" %>
            <span><%= image_tag "take.png"%></span>
          <% else %>
            <span><%= image_tag "matsu.png" %></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="detail-room">達成したい習慣</th>
        <td class="detail-value"><%= @room.habit %></td>
      </tr>
      <tr>
        <th class="detail-room">ルール</th>
        <td class="detail-value"><%= @room.rule %></td>
      </tr>
    </tbody>
  </table>
  <% if user_signed_in? %>
    <% if current_user.id == @room.creator_id %>
    <div class="room-e-d_btns">
      <%= link_to '編集', edit_room_path(@room), class: 'room-edit-btn' %>
      <%= link_to '削除', room_path(@room), class: 'room-destroy-btn', method: :delete %>
    </div>
    <% elsif current_user == @user || @room.users.include?(current_user)%>
      <%= link_to 'ルームへ移動する', move_room_path(@room), class: 'room-move-btn' %>
    <% elsif (current_user.requests.exists?(room_id: @room.id)) && (!@room.users.include?(current_user))%>
      <span>入室申請済みです</span>
    <% elsif (!@room.users.include?(current_user)) && (current_user != @user) %>
      <%= link_to '入室申請する', room_requests_path(@room), method: :post, class: 'room-join-btn' %>
    <% end %>
  <% end %>
  <br>
  <% if @room.creator != current_user && user_signed_in? %>
    <%= form_with(model: [@room, @comment], local: true) do |form| %>
      <h4>コメント</h4>
      <div class="comment-form-container">
        <%= form.text_area :text, class: 'comment-form-message', rows: 1, placeholder: "気になることを質問してみましょう！" %>
        <div class="comment-form-submit">
          <%= form.submit value: "", class: "comment-btn" %>
          <i class="fa-sharp fa-solid fa-paper-plane"></i>
        </div>
      </div>
    <% end %>
  <% end %>
  <% @comments.each do |comment| %>
    <div class="comments">
      <% if comment.user.avatar? %>
        <%= image_tag comment.user.avatar.url, class: "comment-user-icon" %>
      <% else %>
        <%= image_tag ("human.jpg"), class: "comment-user-icon" %>
      <% end %>
      <div class="comment-user-info">
        <%=link_to comment.user.nickname, user_path(comment.user.id), class: "comment-user-nickname" %><span>・<%=l comment.created_at %></span>
        <div class="user-comment">
          <%= comment.text %>
        </div>
      </div>
      <% if comment.reply_comments.exists?%>
        <%= link_to "返信一覧", room_comment_reply_comments_path(@room, comment.id), class: "reply-comment-show-btn"%>
      <% elsif current_user == @room.creator %>
        <%= link_to "返信", room_comment_reply_comments_path(@room, comment.id), class: "reply-comment-btn"%>
      <% end %>
    </div>
  <% end %>
</div>