<%= render "shared/third-header"%>
<%= render "shared/header"%>

<div class="room-box">
  <% if user_signed_in?%>
    <% if current_user == @user && !@room.users.include?(current_user) %>
      <div class="room-permission">🎉入室が許可されました！🎉</div>
    <% elsif @room.users.include?(current_user) && (current_user != @room.creator) %>
      <div class="room-permission">入室済みです！</div>
    <% end %>
  <% end %>
  <div class="room-explain-box">
    <span><%= @room.name %></span>
  </div>
  <table class="detail-table">
    <tbody>
      <tr>
        <th class="detail-room">ホスト</th>
        <td class="detail-value"><%= @room.creator.nickname %></td>
      </tr>
      <tr>
        <th class="detail-room">メンバー</th>
        <td class="detail-value">
          <% @room.users.where.not(id: @room.creator_id).to_a.each do |user| %>
            <%= user.nickname %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="detail-room">ルームレベル</th>
        <td class="detail-value"><%= @room.level.name %></td>
      </tr>
      <tr>
        <th class="detail-room">達成したい習慣</th>
        <td class="detail-value"><%= @room.habit %></td>
      </tr>
      <tr>
        <th class="detail-room">ルール</th>
        <td class="detail-value"><%= @room.rule %></td>
      </tr>
    </tbody>
  </table>
  <% if user_signed_in? %>
    <% if current_user.id == @room.creator_id %>
    <div class="room-e-d_btns">
      <%= link_to '編集', edit_room_path(@room), class: 'room-edit-btn' %>
      <%= link_to '削除', room_path(@room), class: 'room-destroy-btn', method: :delete %>
    </div>
    <% elsif current_user == @user || @room.users.include?(current_user)%>
      <%= link_to 'ルームへ移動する', move_room_path(@room), class: 'room-move-btn' %>
    <% elsif (current_user.requests.exists?(room_id: @room.id)) && (!@room.users.include?(current_user))%>
      <span>入室申請済みです</span>
    <% elsif (!@room.users.include?(current_user)) && (current_user != @user) %>
      <%= link_to '入室申請する', room_requests_path(@room), method: :post, class: 'room-join-btn' %>
    <% end %>
  <% end %>
  <br>
  <% if @room.creator != current_user && user_signed_in? %>
    <%= form_with(model: [@room, @comment], local: true) do |f| %>
      <h4>コメント</h4>
      <div class="comment-form-container">
        <%= f.text_field :text, class: 'comment-form-message' %>
        <div class="comment-form-submit">
          <i class="fa-sharp fa-solid fa-paper-plane"></i>
          <%= f.submit value: "", class: 'hidden' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>