<%= render "shared/header"%>
<%= render "shared/second-header"%>

<div class="room-box">
  <% if user_signed_in?%>
    <% if current_user == @user %>
      <div class="room-permission">🎉入室が許可されました！🎉</div>
    <% end %>
  <% end %>
  <div class="room-explain-box">
    <span><%= @room.name %></span>
  </div>
  <table class="detail-table">
    <tbody>
      <tr>
        <th class="detail-room">ホスト</th>
        <td class="detail-value"><%= @room.creator.nickname %></td>
      </tr>
      <tr>
        <th class="detail-room">ルームレベル</th>
        <td class="detail-value"><%= @room.level.name %></td>
      </tr>
      <tr>
        <th class="detail-room">達成したい習慣</th>
        <td class="detail-value"><%= @room.habit %></td>
      </tr>
      <tr>
        <th class="detail-room">ルール</th>
        <td class="detail-value"><%= @room.rule %></td>
      </tr>
    </tbody>
  </table>
  <% if user_signed_in? %>
    <% if current_user.id == @room.creator_id %>
    <div class="room-e-d_btns">
      <%= link_to '編集', edit_room_path(@room), class: 'room-edit-btn' %>
      <%= link_to '削除', room_path(@room), class: 'room-destroy-btn', method: :delete %>
    </div>
    <% elsif (!@room.users.include?(current_user)) && (current_user != @user) %>
      <%= link_to '入室申請する', room_requests_path(@room), method: :post, class: 'room-join-btn' %>
    <% elsif current_user == @user%>
      <%= link_to 'ルームへ移動する', "#", class: 'room-move-btn' %>
    <% end %>
  <% end %>
</div>